* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("../images/castle.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

h4 {
	font-size: 20px;
}

a {
	color: white;
	text-decoration: none;
}

#restart {
	position: absolute;
	left: 740px;
	bottom: 10px;
	right: 70px;
}

.heading {
	background-color: grey;
	border: 2px solid black;
	position: absolute;
	left: 10px;
	top: 20px;
	color: white;
}


.character {
	position: absolute;
	width: 100px;
}

.btn {
	text-align: center;
	margin-top: 20px;
	box-shadow: 3px 2px #888888;
}


#ai {
	top: 100px;
}

#player {
	top: 550px;
}


#spartan {
	height: 250px;
}

#spartan1 {
	height: 100px;
}

.first-small-spartan {
	position: absolute;
	top: 160px;
}

.second-small-spartan {
	position: absolute;
	top: 270px;
}
.third-small-spartan {
	position: absolute;
	top: 360px;
}

.fourth-small-spartan {
	position: absolute;
	top: 440px;
}
